body {
  background-color: whitesmoke;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  text-align: justify;
}

p{
  text-align: center;
  text-align: justify;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

h1{
  text-align: center;
}


#container {
  width: 90%;
  margin: 0 auto;
  background-color: black;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#container1 {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}


#logo{
  text-align: center;
}


/*#texto{

  text-align: center;
  width: 75%;
  margin: 0 auto;
  padding: 20px 40px;
  margin-top: 20px;
}*/


#sn{
  text-align: left;
  width: 90%;
  margin: 0 auto;
  padding: 20px 40px;
  margin-top: 20px;
}

#artigo{
  width: 60%;
  text-align: left;
  margin: auto;
  padding: 20px 40px;
  margin-top: 20px;
}

#icone{
  text-align: center;
}

.botao {
  padding: 5px;
  background-color: black;
  color: #ffffff;
  font-weight: bold;
  border: solid 1px rgb(4, 58, 109);
  text-decoration: none;
  margin left: 0;
  margin-right: 0;
}

#artcompleto{
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

.campo-form {
  margin: 10px 0;
  display: block;
  border: solid 1px black;
}

.quadrado{
  background-color: pink;
  border: solid 1px black;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;

}

#q2{
  background-image: url(img/art1.png);
}

#q3{
  background-image: url(img/art2b.png);
}

#q4{
  background-image: url(img/art3.png);
}

.quadradop{
  background-color: pink;
  border: solid 1px black;
  border-radius: 10px;
  width: 180px;
  height: 180px;
  display: block;
  margin-right: auto;
  margin-left: auto;

}

#q1{
  background-image: url(img/gir.png);
}

.faixa{
  width: 90%;
  margin: 0 auto;
  padding: 20px 40px;
  background-image: url(img/faixa.png);
  margin-bottom: -24px;
}

