body {
  background-color: whitesmoke;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  text-align: justify;
}

p{
  text-align: center;
  text-align: justify;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

h1{
  text-align: center;
}


#container {
  width: 90%;
  margin: 0 auto;
  background-color: black;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}


#logo{
  text-align: center;
}
#texto{

  text-align: center;
  width: 75%;
  margin: 0 auto;
  padding: 20px 40px;
  margin-top: 20px;
}


#sn{
  text-align: left;
  width: 90%;
  margin: 0 auto;
  padding: 20px 40px;
  margin-top: 20px;
}

#artigo{
  width: 60%;
  text-align: left;
  margin: auto;
  padding: 20px 40px;
  margin-top: 20px;
}

#icone{
  text-align: center;
}

.botao {
  padding: 5px;
  background-color: black;
  color: #ffffff;
  font-weight: bold;
  border: solid 1px rgb(4, 58, 109);
  text-decoration: none;
}

#artcompleto{
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

.campo-form {
  margin: 10px 0;
  display: block;
  border: solid 1px black;
}

